* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{ 
  --text-color: white;
  --bg-url: url(./assets/bg.png);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color:rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --social-hover: rgba(255, 255, 255, 0.15);
}

.light{ 
  --text-color: black;
  --bg-url:url(./assets/bg-light.jpg);
  --stroke-color: black;
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.15);
  --social-hover: rgba(255, 255, 255, 0.15);
}

body {
  background:var(--bg-url) top center/cover;
  background-repeat: no-repeat;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {  
  width: 100%;
  margin-top: 64px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
#content {
  width: 360px;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
}
/* links */
ul {
  margin-top: 24px;
  padding: 16px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  text-decoration: none;
  font-weight: 500;

  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: background 0.2s;
}
ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
#social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  font-size: 24px;
}
#social-links a {
  display: flex;
  text-align: center;
  justify-content: center;
  transition: background 0.2s;
  border-radius: 50%;
  padding: 12px;
}

#social-links a:hover {
  background-color: var(--social-hover);
}

/* rodapé */

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 12px;
  border-top: solid 1px var(--text-color);
  width: 320px;
  font-family: "Poppins", serif;
  font-style: initial;
  font-size: 12px;
  font-weight: 350;
}
